@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple scrollbar styling for a more modern look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
}
::-webkit-scrollbar-thumb {
  background: #38bdf8; /* sky-400 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9; /* sky-500 */
}

.dark ::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}